/* body {
  background-color: crimson;
}

h1, p {
  text-align: center;
  color: white;
}


img {
  border-radius: 50%;

}

.col-sm-4 {
  display: inline-block;
  width: 30%;
}

.container {
  padding-top: 60px;
}

.slot {
  text-align: center;
  color: white;
}

h3 {
  padding-top: 10px;
  font-weight:bold
}

#icon {
  position: absolute;
  right:30;
  
}

h3 {
  padding: 5px;
}

.box {
  border:solid;
  margin: 20px;
} 

span {
  color: white;
} */

/* ex-2-----------------------
.Box {

  display: flex;
  
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 10px;
}
.green {
  background-color:green;
}

.blue {
  background:blue;
}

.pink {
  background:pink;
}

.purple {
  background:purple;
} */

/* ex-3-------------------- */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8696A8;
}

img {

  padding-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.Item {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #EEF5FD;
}

.dot {

  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin: 5px;
  
}

.flex {
  display: flex;
}

.selected {
  background-color: red;
  color: red;

}

/* ex-4---------------- */
/* body {
  background-color: crimson;
}

h1, p {
  text-align: center;
  color: white;
}


img {
  border-radius: 50%;

}

.col-sm-4 {
  display: inline-block;
  width: 30%;
}

.container {
  padding-top: 60px;
}

.slot {
  text-align: center;
  color: white;
}

h3 {
  padding-top: 10px;
  font-weight:bold
}

#icon {
  position: absolute;
  right:30;
  
}

h3 {
  padding: 5px;
}

.box {
  border:solid;
  margin: 20px;
  padding: 10px;
} 

span {
  color: white;
  
} */

/* ex-5---------------------- */
/* .row {
  margin-top: 5spx;
  align-items: flex-end;

}


.small {
  display: block;
  width: 30px;
  height: 30px;
  background-color:purple;
  margin-left: 5px;
  align-items:end;
}

.mid {
  width: 50px;
  height: 50px;
  background-color:purple;
  margin-left: 5px;
}

.large {
  width: 80px;
  height: 80px;
  background-color:purple;
  margin-left: 5px;
}

.huge {
  width: 260px;
  height: 260px;
  background-color:purple;
  margin-left: 5px;
  margin-top: 5px;
} */

